# Python virtual environment
venv/
.venv/
env/
.env
test_env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd   

# Build and distribution artifacts
build/
dist/
*.egg-info/

# IDE-specific files
.vscode/
.idea/


# Temporary test scripts
temp_test_scripts/
test_installs.py

# Output folder for generated reports
output/
*.html

# Output folder for generated reports
output/
*.html
